:root
{
    --bg: #303030;
    --input-bg: #242526;
    --input-bg-accent: #484a4d;
    --text-color: #dadce1;
    --input-bg-focus: #e8b30e;
    --text-focus-color: #f9fafb;
    --border-radius: 8px;
    --properties-editor-width: 150px;
    --properties-editor-gap: 10px;
}