:root
{
    --title-height: 60px;
    --border: 1px solid #474a4d;
    --speed: 500ms;
}

.dropdown-menu
{
    position: relative;
    color: var(--text-color);
    padding: 0 1rem;
    background-color: var(--input-bg);
    border-bottom: var(--border);
    border-radius: var(--border-radius);
}

.dropdown-menu__title
{
    height: 100%;
    padding: 0.5rem;
    transition: filter 300ms;
}

.dropdown-menu__title:hover
{
    filter: brightness(1.2);
}

.dropdown-menu__list
{
    position: absolute;
    top: 50px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--input-bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    list-style: none;
    margin: 0;
}