:root
{
    --border-radius: 8px;
    --speed: 500ms;
}

.dropdown-menu__item
{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.dropdown-menu__item:hover
{
    background-color: #525357;
}

.dropdown-menu__item_disabled
{
    opacity: 0.6;
    pointer-events: none;
}